# GitHub Token para autenticação no GitHub Packages
# Gere em: https://github.com/settings/tokens
GITHUB_TOKEN=seu_token_aqui

# Username do GitHub
GITHUB_USERNAME=joaovrmoraes

# Nome da imagem Docker
IMAGE_NAME=n8n-custom-dockerfile

# Registro Docker (padrão: ghcr.io)
REGISTRY=ghcr.io
